.category {
    display: flex;
    flex-direction: column;
    
}

.category div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-block: 1rem;
}

.category h2 {
    padding-block: 1rem;
    color: antiquewhite;
    border: #367ff4 0.5px solid;
    white-space: nowrap;
    margin: 1px 580px;
    border-radius: 8px;
    background-color: #072453;
}